<g:link controller="index" action="" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>H</b>RM</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Human</b> Resource</span>
</g:link>
