/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
.box-image {
  border: 1px solid rgba(2,2,2,0.24);
  box-shadow: rgba(186,186,186,0.16) 5px 5px 5px 5px inset;
  border-radius: 10px;
  height: 175px;
}
.image-item{
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 20%;
  height: 150px;
}
.image-button{
  position: relative;
  width: 15px;
  height: 15px;
  right: 1px;
  top: 1px;
  border-radius: 5px 5px;
}
.image-item image{
  border-radius: 10px 10px;
}