
hr {
  border-top: 1px solid black
}

.box-title:hover {
  cursor: pointer;
}

table thead tr th, table tbody tr td {
  text-align: center;
}

.box-image {
  box-shadow: rgba(203,203,203,0.38) 5px 5px 5px 5px inset;
  border-radius: 10px;
  background-color:rgba(145,145,145,0.38);
  padding: 10px 10px 10px 10px;
  height: 190px;
}

.image-item {
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 20%;
  height: 150px;
  width: 160px;
}

.image-button {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0px;
  top: 0px;
  border-radius: 25px 25px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  /*outline: none;*/
  padding: 0px 0px;
}

.image-button:focus {
  outline: none;
}

.image-button:hover {
  background-color: #0f0f0f;
  color: whitesmoke;
  padding: 0px 0px;

}

.image-item image {
  border-radius: 10px 10px;
  width: 150px;
  height: 150px;
  outline: none !important;
}
.clear-image{
  cursor: pointer;
}
.clear-image:hover{
  cursor: pointer;
  font-weight: bolder;
}

tbody tr td {
  vertical-align: middle;
}
