<%--
  Created by IntelliJ IDEA.
  User: Admin
  Date: 2/27/2020
  Time: 11:50 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    ${a}
</body>
</html>